<div class="card text-success bg-light mx-auto my-5" style="max-width: 540px">
  <div class="card-body">
    <h2 class="">Nova Categoria</h2>
    <!-- 
    -->
    <form
      #movimentoForm="ngForm"
      [formGroup]="myFormGroup"
      class=""
      (ngSubmit)="onSubmit(myFormGroup.value)"
      action=""
    >
      <div class="mb-3">
        <label for="" class="form-label">Nome:</label>
        <input
          type="text"
          class="form-control"
          name="nome"
          formControlName="nome"
          id=""
          aria-describedby="helpId"
          placeholder=""
          required
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Descrição:</label>
        <input
          type="text"
          class="form-control"
          name="descricao"
          formControlName="descricao"
          id=""
          aria-describedby="helpId"
          placeholder=""
        />
      </div>

      <div class="">
        <p>Tipo:</p>
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            formControlName="tipo"
            id="entrada"
            value="entrada"
            autocomplete="off"
          />
          <label class="btn btn-outline-success" for="entrada">Entrada</label>

          <input
            type="radio"
            class="btn-check"
            formControlName="tipo"
            id="saida"
            value="saída"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-secondary" for="saida">Saída</label>
        </div>
      </div>

      <div class="mt-4 d-flex justify-content-between">
        <div class="">
          <button (click)="redirect('/categorias')" class="btn btn-secondary">
            Voltar
          </button>
        </div>
        <div class="d-flex gap-3 justify-content-end">
          <button (click)="salvar(movimentoForm.value)" class="btn btn-success">
            Salvar
          </button>
          <button type="submit" class="btn btn-success">Adicionar outro</button>
        </div>
      </div>
    </form>
  </div>
</div>
