<div class="card text-white bg-light mx-auto my-5" style="max-width: 400px">
  <div class="card-body">
    <h2 class="text-success">{{ myForm.value?.nome }}</h2>
    <form
      #myForm="ngForm"
      [formGroup]="myFormGroup"
      (ngSubmit)="onSubmit()"
      action=""
    >
      <div class="mb-3">
        <label for="" class="form-label text-success">Data:</label>
        <input
          type="text"
          class="form-control"
          formControlName="dataCompra"
          name="dataCompra"
          id=""
          aria-describedby="helpId"
          placeholder=""
          required
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label text-success">Nome:</label>
        <input
          type="text"
          class="form-control"
          formControlName="nome"
          name="nome"
          id=""
          aria-describedby="helpId"
          placeholder=""
          required
        />
      </div>

      <div class="mb-3">
        <label for="" class="form-label text-success">Valor:</label>
        <input
          type="text"
          class="form-control"
          formControlName="valor"
          name="valor"
          id=""
          aria-describedby="helpId"
          placeholder=""
          required
        />
        <small id="helpId" class="form-text text-muted"></small>
      </div>

      <div class="mb-3">
        <label for="" class="form-label text-success">Descrição:</label>
        <input
          type="text"
          class="form-control"
          formControlName="descricao"
          name="descricao"
          id=""
          aria-describedby="helpId"
          placeholder=""
        />
        <small id="helpId" class="form-text text-muted"></small>
      </div>

      <div class="mb-3 d-flex justify-content-between">
        <button (click)="redirect('/list')" class="btn btn-secondary">
          Voltar
        </button>
        <button
          class="btn btn-danger"
          (click)="removeMovimento()"
          type="button"
        >
          Excluir
        </button>

        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</div>
