<div class="card text-white bg-light mx-auto my-5" style="max-width: 400px">
  <!-- <img class="card-img-top" src="holder.js/100px180/" alt="Title"> -->

  <div class="card-body">
    <h2 class="text-success">Novo Cadastro</h2>
    <form
      #movimentoForm="ngForm"
      (ngSubmit)="addMovimento(movimentoForm.value)"
      action=""
    >
      <div class="mb-3">
        <label for="" class="form-label text-success">Data:</label>
        <input
          ngModel
          type="text"
          class="form-control"
          name="dataCompra"
          id=""
          aria-describedby="helpId"
          placeholder=""
        />
        <small id="helpId" class="form-text text-muted"></small>
      </div>

      <div class="mb-3">
        <label for="" class="form-label text-success">Nome:</label>
        <input
          ngModel
          type="text"
          class="form-control"
          name="nome"
          id=""
          aria-describedby="helpId"
          placeholder=""
        />
        <small id="helpId" class="form-text text-muted"></small>
      </div>

      <div class="mb-3">
        <label for="" class="form-label text-success">Descrição:</label>
        <input
          ngModel
          type="text"
          class="form-control"
          name="descricao"
          id=""
          aria-describedby="helpId"
          placeholder=""
        />
        <small id="helpId" class="form-text text-muted"></small>
      </div>

      <div class="mb-3">
        <label for="" class="form-label text-success">Valor:</label>
        <input
          ngModel
          type="text"
          class="form-control"
          name="valor"
          id=""
          aria-describedby="helpId"
          placeholder=""
        />
        <small id="helpId" class="form-text text-muted"></small>
      </div>

      <div class="mb-3 d-flex justify-content-between">
        <!-- <button type="reset" class="btn btn-secondary">Limpar</button> -->
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</div>
