<!-- <app-movimento-form></app-movimento-form> -->

<div class="card my-5 mx-auto" style="max-width: 540px">
  <div class="d-flex justify-content-between gap-3 bg-success card-header">
    <button (click)="remMonth()" class="btn btn-success"><</button>

    <p class="text-white my-auto">{{ monthNames[month - 1] }}</p>

    <button (click)="addMonth()" class="btn btn-success">></button>
  </div>
  <div class="container">
    <div class="my-3 d-flex justify-content-center">
      <h2 class="text-success">Movimentos</h2>
    </div>
    <div class="table-responsive">
      <table
        class="table table-striped table-hover table-borderless table-primary align-middle"
      >
        <thead class="table-light">
          <!-- <caption>
          Últimos Movimentos
        </caption> -->
          <tr>
            <th>Data</th>
            <th class="">Nome</th>
            <!-- <th>Descrição</th> -->
            <th class="text-end">Valor</th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let movimento of movimentos" class="table-success">
            <td class="">
              {{ movimento.dataCompra | date : "dd/MM/yyyy" }}
            </td>
            <td>
              <a
                class="list-group-item list-group-item-action"
                [routerLink]="['/form/', movimento._id]"
              >
                {{ movimento.nome }}
              </a>
            </td>

            <!-- <td>{{ movimento.descricao }}</td> -->
            <td class="text-end">{{ movimento.valor }}</td>
            <!-- <td>
                <div class="d-flex gap-1">
                  <button
                  (click)="editMovimento(movimento._id)"
                  class="btn btn-primary mt-3"
                  >
                  E
                </button>
                <button
                (click)="removeMovimento(movimento._id)"
                class="btn btn-danger mt-3"
                >
                X
              </button>
            </div>
          </td> -->
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
      <div class="my-3 d-flex justify-content-between">
        <div class="">
          <button (click)="redirect('/home')" class="btn btn-secondary">
            Voltar
          </button>
        </div>
        <div class="d-flex gap-3 justify-content-end">
          <button (click)="listMovimentos(month)" class="btn btn-secondary">
            Atualizar
          </button>
          <a name="" id="" class="btn btn-success" href="/form" role="button"
            >Adicionar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
